<div class="swatch"{{#if id}}id="{{id}}"{{/if}}>
	<a href="#" class="remove"><i class="icon-cross"></i></a>
	<div class="preview" {{#if draggable}}draggable="true"{{/if}} style="background-color: rgb( {{toString rgb}} );"></div>
	<a href="#" class="controls {{#if controls}}controls-active{{/if}}"><i class="icon-controls"></i></a>
	
	<div class="sliders">
		<div style="background: linear-gradient(
		        to right, 
		        rgb(0, {{rgb.[1]}}, {{rgb.[2]}}), 
		        rgb(255, {{rgb.[1]}}, {{rgb.[2]}}) )">
			<input class="red" type="range" min="0" max="255" value="{{rgb.[0]}}" />
		</div>
		<div style="background: linear-gradient(
		        to right, 
		        rgb({{rgb.[0]}}, 0, {{rgb.[2]}}), 
		        rgb({{rgb.[0]}}, 255, {{rgb.[2]}}) )">
			<input class="green" type="range" min="0" max="255" value="{{rgb.[1]}}" />
		</div>
		<div style="background: linear-gradient(
		        to right, 
		        rgb({{rgb.[0]}}, {{rgb.[1]}}, 0), 
		        rgb({{rgb.[0]}}, {{rgb.[1]}}, 255) )">
			<input class="blue" type="range" min="0" max="255" value="{{rgb.[2]}}" />
		</div>
		<div style="background: linear-gradient(
		        to right, 
		        hsl({{hsl.[0]}}, {{hsl.[1]}}%, 0%),
				hsl({{hsl.[0]}}, {{hsl.[1]}}%, 50%) 50%,
		        hsl({{hsl.[0]}}, {{hsl.[1]}}%, 100%) )">
			<input class="lightness" type="range" min="0" max="100" value="{{hsl.[2]}}" />
		</div>
	</div>
	<div class="codes clearfix">
		<span class="label">Hex: </span><span class="value hex">{{hex}}</span>
		<span class="label">RGB: </span><span class="value rgb">{{toString rgb}}</span>
		<span class="label">HSL: </span><span class="value hsl">{{toString hsl}}</span>
	</div>
</div>