/*! normalize.css v3.0.0 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0; }

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8+, and Opera
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
audio,
canvas,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

html {
  height: 100%; }

body {
  height: 100%;
  background: #333333; }

.wrapper {
  height: 100%;
  position: relative;
  z-index: 1;
  padding-bottom: 8em; }

.leftPanel {
  width: 20%;
  height: 100%;
  float: left;
  background-color: #272727; }

.rightPanel {
  width: 80%;
  height: 100%;
  float: left; }

.label {
  float: left;
  clear: left; }

.value {
  text-align: right;
  display: block; }

.tool {
  display: none; }
  .tool.active {
    display: block; }

@font-face {
  font-family: 'swatch';
  src: url("/static/fonts/icons/fonts/icomoon.eot");
  src: url("/static/fonts/icons/fonts/icomoon.eot#iefix") format("embedded-opentype"), url("/static/fonts/icons/fonts/icomoon.woff") format("woff"), url("/static/fonts/icons/fonts/icomoon.ttf") format("truetype"), url("/static/fonts/icons/fonts/icomoon.svg#swatch") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  font-family: 'swatch';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-hash:before {
  content: "\e606"; }

.icon-gradient:before {
  content: "\e600"; }

.icon-eyedropper:before {
  content: "\e603"; }

.icon-palette:before {
  content: "\e604"; }

.icon-color-wheel:before {
  content: "\e605"; }

.icon-css3:before {
  content: "\e607"; }

.icon-relationships:before {
  content: "\e608"; }

.icon-controls:before {
  content: "\e601"; }

.icon-cross:before {
  content: "\e609"; }

.icon-upload:before {
  content: "\e602"; }

.slider label {
  float: left; }

.swatches {
  position: fixed;
  height: 8em;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 10;
  background-color: #1c1c1c; }
  .swatches li {
    width: 10em;
    height: 8em;
    float: left;
    box-sizing: border-box;
    list-style: none;
    position: relative; }
  .swatches button {
    height: 120px;
    margin: 5%;
    width: 90%;
    border: 1px dashed rgba(0, 0, 0, 0.1); }

.swatch {
  height: 16em;
  position: relative;
  top: 0;
  transition: top 200ms cubic-bezier(0.5, 0.08, 0.41, 0.99); }
  .swatch.controls-active {
    top: -8em; }
  .swatch:hover .remove, .swatch:hover .controls {
    display: block; }
  .swatch .codes {
    font-size: 0.875em;
    text-transform: uppercase; }
  .swatch .preview {
    width: auto;
    height: 8em; }
  .swatch .remove, .swatch .controls {
    display: none;
    top: 0.5em;
    padding: 0.125em 0.5em;
    border-radius: 6em;
    background: rgba(255, 255, 255, 0.2);
    height: 2em;
    width: 2em;
    position: absolute;
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    font-size: 0.875em; }
  .swatch .remove {
    font-weight: bold;
    right: 0.5em;
    padding: 0.2em 0.25em; }
    .swatch .remove .icon-cross {
      font-size: 1.5em; }
  .swatch .controls {
    right: 3em; }
  .swatch .sliders > div {
    height: 1.25em;
    margin-bottom: 0.75em; }
    .swatch .sliders > div:first-child {
      margin-top: 0.75em; }
  .swatch input[type="range"] {
    -webkit-appearance: none;
    background: transparent;
    width: 100%;
    height: 100%;
    outline: 0; }

.controls-active .swatch {
  top: -8em; }

.active .swatch {
  outline: 1px solid rgba(255, 255, 255, 0.2);
  outline-offset: -1px; }

.colorPicker {
  height: 100%; }
  .colorPicker .canvasWrapper canvas {
    z-index: 2;
    position: relative; }
  .colorPicker .canvasWrapper svg {
    z-index: 3; }

.tool-nav ul {
  padding: 0;
  margin: 0;
  list-style: none; }
.tool-nav a {
  color: white;
  text-decoration: none;
  font-size: 0.75em;
  display: block;
  padding: 0.125em 0 0.125em 1em; }
  .tool-nav a i {
    padding-right: 0.5em;
    font-size: 1.333em;
    position: relative;
    top: 0.125em; }
  .tool-nav a.active {
    border-left: 0.125em solid white;
    padding-left: 0.925em;
    background: #444; }

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", wf_segoe-ui_light, 'Segoe UI Light', "arial light", helvetica, sans-serif;
  color: white;
  line-height: 1.6em;
  min-height: 100%; }

body {
  min-height: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0; }

header {
  margin-bottom: 2.25em;
  padding: 1em 0;
  margin-left: 1em;
  border-bottom: 1px solid #dddddd; }

canvas {
  box-shadow: 0.25em -0.25em 0 rgba(0, 0, 0, 0.1); }

#logo {
  float: left;
  margin-right: 1em; }

header h1 {
  padding: 0;
  float: left;
  line-height: 1em; }

.canvasWrapper {
  clear: both;
  position: relative;
  margin: 0 auto;
  height: 100%; }

#crosshair {
  position: absolute; }

.slider.luminance {
  position: absolute;
  right: -14%;
  top: 45%;
  z-index: 1; }

.colorPicker .slider input[type="range"] {
  width: 202px;
  height: 1em;
  background: linear-gradient(to left, white 0%, black 100%);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg); }

.wheel .canvasWrapper {
  width: 300px; }

.wheel .canvasWrapper canvas {
  box-shadow: none; }

.wheel .dropzone {
  max-width: 300px;
  margin: 1em auto; }

.dropzone {
  border: 1px dashed #bbb;
  padding: 5px 5px 20px;
  list-style: none;
  position: relative; }

.dropzone:drag-over {
  border-color: #444; }

.dropzone .swatch {
  width: 20px;
  height: 20px;
  position: relative;
  margin: 0 5px 5px 0;
  padding: 0;
  float: left; }

.dropzone .preview {
  height: 20px;
  margin: 0; }

.dropzone .codes {
  display: none; }

.dropzone .instructions {
  margin: 0;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  color: #666;
  font-size: 0.75em;
  letter-spacing: 0.1em; }

.dropzone .remove {
  right: 0;
  top: 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/*# sourceMappingURL=swatch.css.map */
