
.paletteBlender .canvasWrapper {
	width: 300px;
}

.paletteBlender .slider {
	width: 50%;
	float: left;
}
.paletteBlender .slider:first-of-type {
	padding-right: 0.5em;
}
.paletteBlender .slider:last-of-type {
	padding-left: 0.5em;
}

.paletteBlender .slider input[type="range"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 100%;
	height: 0.25em;
	background: rgba(0,0,0,0.1);
}

.paletteBlender label,
.paletteBlender .value {
	font-size: 0.75em;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}