.tool-nav {

	ul {
		padding: 0;
		margin: 0;
		list-style: none;
	}


	a {
		color: white;
		text-decoration: none;
		font-size: 0.75em;
		display: block;
		padding: 0.125em 0 0.125em 1em;
		
		
		i {
			padding-right: 0.5em;
			font-size: 1.333em;
			position: relative;
			top: 0.125em;
		}

		&.active {
			border-left: 0.125em solid white;
			padding-left: 0.925em;
			background: #444;
		}
	}
}