@font-face {
	font-family: 'swatch';
	src:url('/static/fonts/icons/fonts/icomoon.eot');
	src:url('/static/fonts/icons/fonts/icomoon.eot#iefix') format('embedded-opentype'),
		url('/static/fonts/icons/fonts/icomoon.woff') format('woff'),
		url('/static/fonts/icons/fonts/icomoon.ttf') format('truetype'),
		url('/static/fonts/icons/fonts/icomoon.svg#swatch') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'swatch';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-hash:before {
	content: "\e606";
}
.icon-gradient:before {
	content: "\e600";
}
.icon-eyedropper:before {
	content: "\e603";
}
.icon-palette:before {
	content: "\e604";
}
.icon-color-wheel:before {
	content: "\e605";
}
.icon-css3:before {
	content: "\e607";
}
.icon-relationships:before {
	content: "\e608";
}
.icon-controls:before {
	content: "\e601";
}
.icon-cross:before {
	content: "\e609";
}
.icon-upload:before {
	content: "\e602";
}

