$swatchContainerHeight: 8em;

html {
	height: 100%;
}
body {
	height: 100%;
	background: $mainBackground;
}
.wrapper {
	height: 100%;
	position: relative;
	z-index: 1;
	padding-bottom: $swatchContainerHeight;
}

.leftPanel {
	width: 20%;
	height: 100%;
	float: left;
	background-color: $leftPanelBackground;
}

.rightPanel {
	width: 80%;
	height: 100%;
	float: left;
}

.label {
	float: left;
	clear: left;
}
.value {
	text-align: right;
	display: block;
}

.tool {
	display: none;

	&.active {
		display: block;
	}
}