
.swatches {
    position: fixed;
    height: 8em;
    bottom: 0;
    width: 100%; 
    margin: 0;
    padding: 0;
    z-index: 10;
    background-color: $swatchPanelBackground;

    li {
        width: 10em;
        height: $swatchContainerHeight;
        float: left;
        box-sizing: border-box;
        list-style: none;
        position: relative;
    }

    button {
        height: 120px;
        margin: 5%;
        width: 90%;
        border: 1px dashed rgba(0,0,0,0.1);
    }
}
 
.swatch {
    height: $swatchContainerHeight * 2;
    position: relative;
    top:0;

    transition: top 200ms cubic-bezier(.5,.08,.41,.99);

    &.controls-active {
        top: -$swatchContainerHeight;
    }

    &:hover {
        .remove, .controls {
            display: block;
        }
    }

    .codes {
        font-size: 0.875em;
        text-transform: uppercase;
    }

    .preview {
        width: auto;
        height: $swatchContainerHeight;
    }

    .remove, .controls {
        display: none;
        top: 0.5em;
        padding: 0.125em 0.5em;
        border-radius: 6em;
        background: rgba(255,255,255,0.2);
        height: 2em;
        width: 2em;
        position: absolute;
        color: rgba(0,0,0,0.5);
        text-decoration: none;
        font-size: 0.875em;
    }

    .remove {
        font-weight: bold;
        right: 0.5em;
        padding: 0.2em 0.25em;

        .icon-cross {
            font-size: 1.5em;
        }
    }

    .controls {
        right: 3em;
    }

    .sliders > div {
        height: 1.25em;
        margin-bottom: 0.75em;

        &:first-child {
            margin-top: 0.75em;
        }
    }

    input[type="range"] {
        -webkit-appearance: none;
        background: transparent;
        width: 100%;
        height: 100%;
        outline: 0;
    }

}

.controls-active {
    .swatch {
        top: -$swatchContainerHeight;
    }
}   

.active .swatch {
    outline: 1px solid rgba(255,255,255,0.2);
    outline-offset: -1px;
}

