@import 'partials/normalize';
@import 'partials/palette';
@import 'partials/layout';
@import 'partials/icons';
@import 'partials/slider';
@import 'partials/swatches';
@import 'partials/colorpicker';
@import 'partials/icon-nav';


* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", wf_segoe-ui_light, 'Segoe UI Light', "arial light", helvetica, sans-serif;
	color: white;
	line-height: 1.6em;
	min-height: 100%;
}
body {
	min-height: 100%;
}

h1, h2, h3, h4, h5, h6 { font-weight: normal; margin: 0;}




header {
	margin-bottom: 2.25em;
	padding: 1em 0;
	margin-left: 1em;
	border-bottom: 1px solid #ddd
}
canvas {
	box-shadow: 0.25em -0.25em 0 rgba(0,0,0,0.1);
}
#logo { float: left; margin-right: 1em; }
header h1 {
	padding: 0;
	float: left;
	line-height: 1em;
}
.canvasWrapper {
	clear: both;
	position: relative;
	margin: 0 auto;
	height: 100%;
}



#crosshair {
	position: absolute;
}
.slider.luminance {
	position: absolute;
	right: -14%;
	top: 45%;
	z-index: 1;
}

.colorPicker .slider input[type="range"] {
    width: 202px;
    height: 1em;
    background: linear-gradient(to left, #ffffff 0%,#000000 100%); 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance:none;
    -webkit-transform:rotate(-90deg);       
    -moz-transform:rotate(-90deg);
    -o-transform:rotate(-90deg);
    transform:rotate(-90deg);
    
}



.wheel .canvasWrapper { 
	width: 300px;	
}
.wheel .canvasWrapper canvas{ 
	box-shadow: none;	
}

.wheel .dropzone {
	max-width: 300px;
	margin: 1em auto;
}

.dropzone {
	border: 1px dashed #bbb;
	padding: 5px 5px 20px;
	list-style: none;
	position: relative;
}
.dropzone:drag-over {
	border-color: #444;
}

.dropzone .swatch {
	width: 20px;
	height: 20px;
	position: relative;
	margin: 0 5px 5px 0;
	padding: 0;
	float: left;
}
.dropzone .preview {
	height: 20px;
	margin: 0;
}
.dropzone .codes {
	display: none;
}
.dropzone .instructions {
	margin: 0;
	position: absolute;
	bottom: 0;
	text-align: center;
	width: 100%;
	color: #666;
	font-size: 0.75em;
	letter-spacing: 0.1em;
}
.dropzone .remove {
	right: 0;
	top: 0;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}


